certifi==2025.1.31
charset-normalizer==3.4.1
depthai==2.30.0.0
dronekit==2.9.2
dronekit-sitl==3.3.0
future==1.0.0
idna==3.10
imutils==0.5.4
iso8601==2.1.0
lxml==5.4.0
mavlink==0.1.0
MAVProxy==1.8.71
monotonic==1.6
numpy==2.2.4
opencv-python==4.11.0.86
psutil==7.0.0
pymavlink==2.4.43
pynmeagps==1.0.49
pyserial==3.5
PyYAML==6.0.2
requests==2.32.3
six==1.17.0
urllib3==2.3.0
